@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

@layer utilities {
  .custom-gradient {
    background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
  }
}